<!DOCTYPE html>
<html>
    <head>
		<title>Y.Box</title>
		<link rel='stylesheet' href='/stylesheets/index.css' />
		<script type="text/javascript" src="/javascripts/jquery-1.7.2.js"></script>
		<script type="text/javascript" src="/javascripts/index.js"></script>
    </head>
    <body>
		<div class="container">
			<header>
				<h1>Welcome to Y.Box</h1>
				<p>This is a personal blog.</p>
			</header>
			<img id="illustration" src="/images/lotusSeedPod.png" /><div class="clear"></div>
			<div class="login-box">
				<input id="nickname" name="nickname" type="text" placeholder="Username">
				<input id="password" name="password" type="password" placeholder="Password"><br/>
				<a href="javascript:void(0);" class="loginBtn" id="loginSub">登入</a>
				<a href="javascript:void(0);" class="registerBtn" id="skipRegister">注册</a>
			</div>

			<div class="register-box">
				<input id="nickname" name="nickname" type="text" placeholder="Username">
				<input id="password" name="password" type="password" placeholder="Password"><br/>
				<input id="name" name="name" type="text" placeholder="Name">
				<input id="birthday" name="birthday" type="text" placeholder="Birthday"><br/>
				<input id="sex" name="sex" type="text" placeholder="Sex">
				<input id="e_mail" name="e_mail" type="text" placeholder="E-mail"><br/>
				<a href="javascript:void(0);" class="registerBtn" id="registerSub">注册</a>
				<a href="javascript:void(0);" class="loginBtn" id="skipLogin">返回登录</a>
			</div>
		</div>
    </body>
    <script type="text/javascript">
    	Index();
    </script>
</html>