<!DOCTYPE html>
<html>
    <head>
		<title>Y.Box</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script type="text/javascript" src="/javascripts/jquery-1.7.2.js"></script>
    </head>
    <body>
		<div class="container">
			<header>
				<h1>Welcome to Y.Box</h1>
				<p>This is a personal blog.</p>
			</header>
			<img id="illustration" src="/images/lotusSeedPod.png" /><div class="clear" ></div>
			<div class="login-box">
				<input id="uid" name="uid" type="text" placeholder="User">
				<input id="password" name="password" type="password" placeholder="Password"><br/>
				<a href="javascript:void(0);" id="loginBtn">登入</a>
				<a href="javascript:void(0);" id="registerBtn">注册</a>
			</div>
		</div>
    </body>
    <script type="text/javascript">
	  	$("#loginBtn").unbind("click").click(function(){
			var params = {
				'uid': $("#uid").val(),
				'password': $("#password").val()
	      	};
	      	console.log(params);
	        $.ajax({
				data: params,
				url: '/login',
				type: 'post',
				dataType: 'json',
				success: function(data){
					if (data.success) {
						alert(data.redirect);
						window.location.href = data.redirect;
					} else {
						$(".login-box input").val("");
						alert(data.msg);
					}
				},
				error: function(jqXHR, textStatus, errorThrown){
				  alert('error ' + textStatus + " " + errorThrown);  
				}
	        });
		});
    </script>
</html>