body {
	background: url(../images/grunge_wall.jpg);
	font: 14px 'Lucida Calligraphy';
	color:  #5d5959;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
.container {
	position: relative;
	width: 940px;
	height: 50%;
	margin-left: 50%;
	margin-top: 13%;
	left: -470px;
}
header {
	display: flex;
	width: 100%;
	align-items: flex-end;
	justify-content: space-between;
}
.logo, .share-link {
	width: 11%;
}
.year-show {
	width: 10%;
	font-size: 1.5em;
	text-align: center;
}
.link-icon {
	width: 30px;
	float: right;
	margin-left: 5px;
	margin-right: 5px;
	background-color: #5d5959;
}
.link-icon:hover {
	background-color: #FF2465;
}
.main, .logo-icon {
	width: 100%;
}
.wrap hr {
	height: 2px;
	background-color: #5d5959;
}
.welcome {
	display: flex;
	width: 100%;
	height: 80px;
	align-items: center;
}
.form-group {
	margin-top: 50px;
}
.login-group {
	display: flex;
	width: 80%;
	height: 40px;
	margin-left: 10%;
	align-items: center;
}
.login-group input {
	flex: 2;
	height: 64%;
	padding: 5px;
}
.login-group a {
	flex: 1;
	height: 100%;
	text-decoration: none;
	background-color: #5d5959;
	color: #FFFFFF;
	line-height: 40px;
	text-align: center;
}
.login-group a:hover {
	background-color: #FF2465;
}
.rider {
	display: flex;
	margin-top: 8%;
	font-size: 1.75em;
	word-spacing: 0.25em;
	justify-content: space-around;
}
.rider a {
	color: #5d5959;
	word-spacing: 0em;
}
.rider a:hover {
	text-decoration: none;
	color: #FF2465;
}