/* 通用元素居中 */
@mixin elm-centered($position: relative, $width: 100%) {
	position: $position;
	left: -($width / 2);
	margin-left: 50%;
}

/* 通用input框样式 */
@mixin input-primary($height: 40px, $padding: 5px, $font-size: 16px) {
	height: $height;
	padding-left: $padding;
	padding-right: $padding;
	padding-top: $padding / 2;
	padding-bottom: $padding / 2;
	font-size: $font-size;
}

/* 通用a标签的按钮样式 */
@mixin btn($height: 100%, $line-height: 40px, 
	$bkg-color: $dark-gray-color, $bkg-color-h: $rose-red-color) {
	line-height: $line-height;
    height: $height;
    text-align: center;
    text-decoration: none;
    color: $white-color;
    background-color: $bkg-color;
    &:hover {
    	background-color: $bkg-color-h;
    }
}

/* 通用hr基础样式 */
@mixin hr-common {
	border: 0;
    height: 1px;
    background-color: $light-gray-color;
    margin: 10px 0 10px 0;
}