@import "variables";
@import "mixin";
@import "compass/reset";

body {
	font-family: $login-base-ff;
    font-size: $login-base-fs;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: $dark-gray-color;
    background: url(../images/grunge_wall.jpg);
}

.container {
	@include elm-centered(relative, 940px);
    width: 940px;
    height: 50%;
    margin-top: 13%;
}

header {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
    @at-root .logo,
    .share-link {
	    width: 11%;
	}

	@at-root .year-show {
	    font-size: $login-year-fs;
	    width: 10%;
	    text-align: center;
	}

	@at-root .link-icon {
	    float: right;
	    width: 30px;
	    margin-right: 5px;
	    margin-left: 5px;
	    background-color: $dark-gray-color;

	    &:hover {
	    	background-color: $rose-red-color;
	    }
	}
}


.main,
.logo-icon {
    width: 100%;
}

.wrap hr {
    height: 2px;
    background-color: $dark-gray-color;
}

.welcome {
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
}

.form-group {
    margin-top: 50px;
}
/* 登录输入框、按钮样式 */
.login-group {
    display: flex;
    width: 80%;
    height: 40px;
    margin-left: 10%;
    align-items: center;

    input {
    	@include input-primary(77%, 5px);
	    flex: 2;
    }

    a {
		@include btn();
	    flex: 1;
	}
}
/* 附加文字样式 */
.rider {
    font-size: $login-rider-fs;
    display: flex;
    margin-top: 8%;
    word-spacing: $login-rider-ws;
    justify-content: space-around;

    a {
    	word-spacing: 0;
    	color: $dark-gray-color;

    	&:hover {
    		text-decoration: none;
    		color: $rose-red-color;
    	}
    }


}
/* 注册模态框 */
.register-box {
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.register-content {
	@include elm-centered(relative, 50%);
	width: 50%;
	top: 15%;
	background-color: $white-color;
	border-radius: 5px;
	padding: 15px;

	.register-title {
		font-size: $login-rider-fs;
	}

	.register-group {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;

		input {
			@include input-primary(26px, 5px, 16px); 
			flex: 0 1 43%;
			margin-top: 20px;
	    }
		
		.register-btns {
			flex: 1 1 100%;
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-end;

			a {
		    	@include btn();
		    	flex: 0 1 15%;	
		    	margin-top: 20px;
		    	margin-right: 2.5%;
		    }
		}
	}
}
